*{
    margin: 0%;
    padding:0%;
}
a{
text-decoration: none;
    color:rgba(255, 255, 255, 0.918);
    font-weight: 400;
    font-size:15px;
    font-family: Open Sans;
    padding-left:5px;
    padding-right: 5px;
}
.head{
 width: 100%;
  height: 750px;
  background: url('assets/background.png') center/cover no-repeat;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}
.header{
 display: flex;
}
nav{
    display: flex;
    padding-top:50px;
    padding-bottom:50px;
    padding-left: 0%;
    padding-right:0% ;
    margin-left:300px;
}
.logo{
    margin-top: -30px;
    padding-left: 5px;
}
.icon{
margin-left: 300px;
}
.content{
    display: flex;
    justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topic1{
  font-family: Open Sans;
  font-weight: 700;
  font-size: 74px;
  color: rgba(255, 255, 255, 1);

}
.topic2{
    padding-top: 10px;
    padding-bottom:10px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 28px;
  color: rgba(255, 255, 255, 1);

}
.try{
    margin-left:45%;
    margin-top:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(32, 145, 249, 1);
  color:rgba(255, 255, 255, 1);
 padding-top:16px;
 padding-bottom:16px;
 padding-left:35px;
 padding-right:35px;
 width: 236;
height: 52;
opacity: 1;

  border-radius: 35px;
  font-family: Open Sans;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.2px;
text-align: center;

}
.start{
    padding-left: 35px;
}
.free{
    padding-left: 33%;
}